{
    "vid": "",
    "pid": "",
    "mfg": "",
    "prod": "",
    "serial": "",
    "descString1": "",
    "descString2": "",
    "descString3": "",
    "apiKey": "", // must be hex only
    "encrypt": true,
    "inputPath": "content.orig",
    "outputPath": "content",
    "filematch": ["*.png","*.html"]
}
