{
    "vid": "",
    "pid": "",
    "mfg": "",
    "prod": "",
    "serial": "",
    "descString1": "",
    "descString2": "",
    "descString3": "",
    "apiKey": "",
    "encrypt": true,
    "inputPathTrim": "content.test",
    "outputPathPrefix": "content",
"files": [
"content.test/xkcd_epoch_fail.png"
]
}
